body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    height: 100vh;
    background: url(pictures/KakaoTalk_20220828_025730586.png);
    background-size: 100%;
    background-repeat: no-repeat; 
}

@font-face {
    font-family: 둥근고딕B;
    src: url(fonts/태-둥근고딕B.otf);
}

@font-face {
    font-family: 둥근고딕R;
    src: url(fonts/태-둥근고딕R.otf);
}

@font-face {
    font-family: parisNineteenSeventy;
    src: url(fonts/Chalet-ParisNineteenSeventy_10022.ttf);
}

.header{
    min-height: 100vh;
    width: 100%;
    color: white; 
    background-position: center;
    background-size: cover;
    position: fixed;
}

nav{
    position: relative;
    top:-40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 1vh;
    font-family: parisNineteenSeventy;

}

.clublogo{
    position: relative;
    bottom:-75px;
    left: -100px;
}

.clubtext{
    position: relative;
    top:-42px;
    left: 30px;
}

.logo{
    letter-spacing: 5px;
    font-size: 25px;
    color: black;
    font-family: parisNineteenSeventy;
}



.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
    position: relative;
    left: 100px;
    top: 35px;
}

.nav-links li{
    list-style: none;
    color: black;
}

.nav-links a{
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.nav-links a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #000000;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links a:hover::after{
    width: 100%;
}


.text-box{
    position: absolute;
    left: 10%;
    top: 5%;
    width: 600px;
    padding: 0px;
    font-family: parisNineteenSeventy;
}

.text-box h1{
    font-size: 130px;
    margin-bottom: 0px;
}

.text-box h2{
    margin: 0px 0 20px;
    font-size: 30px;
    position: relative;
    left: 5%;
}

.text-box2{
    position: absolute;
    bottom: 21%;
    width: 520px;
    left: 10%;
    font-family: parisNineteenSeventy;
    font-size: 20px;
}




.highschool {
    margin-top: 100px;
    padding: 32px;
    position: fixed;
  }
  
  .select-box2 {
    position: absolute;
    top: 500px;
    left: 500px;
    display: flex;
    width: 250px;
    flex-direction: column;
    text-align: center;
  }
  
  .select-box2 .options-container2 {
    background: #2f3640;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
  
    order: 1;
  }
  
  .selected2 {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    border-radius: 40px;
  
    order: 0;
  }
  
  .selected2::after {
    content: "";
    background: url("img/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
  
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
  
    transition: all 0.4s;
  }
  
  .select-box2 .options-container2.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    border-radius: 25px;
  }
  
  .select-box2 .options-container2.active + .selected2::after {
    transform: rotateX(180deg);
    top: -6px;
  }
  
  .select-box2 .options-container2::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box2 .options-container2::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box2 .option2,
  .selected2 {
    padding: 12px 24px;
    cursor: pointer;
  }
  
  .select-box2 .option2:hover {
    background: #414b57;
  }
  
  .select-box2 label {
    cursor: pointer;
  }
  
  .select-box2 .option2 .radio {
    display: none;
  }



  .middleschool {
    margin-top: 100px;
    padding: 32px;
    position: fixed;
  }
  
  .select-box {
    position: absolute;
    top: 500px;
    left: 250px;
    display: flex;
    width: 200px;
    flex-direction: column;
    text-align: center;
  }
  
  .select-box .options-container {
    background: #2f3640;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
  
    order: 1;
  }
  
  .selected {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    border-radius: 25px;
  
    order: 0;
  }
  
  .selected::after {
    content: "";
    background: url("img/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
  
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
  
    transition: all 0.4s;
  }
  
  .select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
  }
  
  .select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
  }
  
  .select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .option,
  .selected {
    padding: 12px 24px;
    cursor: pointer;
  }
  
  .select-box .option:hover {
    background: #414b57;
  }
  
  .select-box label {
    cursor: pointer;
  }
  
  .select-box .option .radio {
    display: none;
  }


  



  /* unvisited link */
 .classLink:link {
    color: #fff;
  }
  
  /* visited link */
  .classLink:visited {
    color: #fff;
  }
  
  /* mouse over link */
  .classLink:hover {
    color: #fff;
  }
  
  /* selected link */
  .classLink:active {
    color: #fff;
  }

  .classLink:link {
    text-decoration: none;
  }
  
  .classLink:visited {
    text-decoration: none;
  }
  
  .classLink:hover {
    text-decoration: none;
  }
  
  .classLink:active {
    text-decoration: none;
  }

h4 {
    position: relative;
    top: 60px;
    font-size: 20px;
    left: -75px;
}

.backimg {
    position: absolute;
    left: 50%;
}

.main img{
    position: relative;
    left: 700px;
    top: -850px;
}




