body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    height: 100vh;
}

.header{
    min-height: 100vh;
    width: 100%;
    color: white; 
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    position: relative;
    top:-40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 1vh;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;

}

.clublogo{
    position: relative;
    bottom:-60px;
    left: -100px;
}

.clubtext{
    position: relative;
    top:-50px;
}

.logo{
    letter-spacing: 5px;
    font-size: 25px;
    color: black;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li{
    list-style: none;
    color: black;
}

.nav-links a{
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 25px;
    color: black;
}

.nav-links a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #000000;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links a:hover::after{
    width: 100%;
}

.text-box{
    position: absolute;
    left: 10%;
    top: 15%;
    width: 600px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif;

}

.text-box h1{
    font-size: 110px;
    margin-bottom: 0px;
}

.text-box h2{
    margin: 0px 0 20px;
    font-size: 30px;
}

.text-box2{
    position: absolute;
    bottom: 11%;
    width: 520px;
    left: 10%;
    font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}

.container{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: transalte(-50%, -50%);
    text-align: center;
}

.container2{
    position: absolute;
    top: 50%;
    left: 25.5%;
    transform: transalte(-50%, -50%);
    text-align: center;
}

.button{
    background: #7476c0;
    border:rgba(255, 255, 255, 0.7);
    padding: 10px  40px 30px;
    color: #ffffff;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.4s;
    width: 220px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
}

.button:hover{
    background: #b3b4d2;
}

.popup{
    background: rgba(0,0,0,0.6);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}

.popup-content{
    height: 250px;
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

input{
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
}

.close{
   position: absolute;
   top: -10px;
   right: -10px;
   background: #fff;
   border-radius: 50%;
   box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
   cursor: pointer;
}

.clublogo{
    width: 50px;
}




