body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    height: 100vh;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    color: white;
    background-size: cover;
    position: relative;
}

nav{
    position: relative;
    top:-40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 1vh;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;

}

.clublogo{
    position: relative;
    bottom:-60px;
    left: -88px;
}

.clubtext{
    position: relative;
    top:-50px;
}

.logo{
    letter-spacing: 5px;
    font-size: 25px;
    color: black;
    font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 45%;
    position: relative;
    left: 45px;
    top: 13px;
}

.nav-links li{
    list-style: none;
    color: black;
}

.nav-links a{
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.nav-links a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #000000;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links a:hover::after{
    width: 100%;
}

.intrologo{
    position: absolute;
    left: 400px;
    top: 25px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    
}

.withcslogo{
    position: relative;
    left: 400px;
    top: 100px;
}

.intrologo .logokor{
    position: relative;
    left: 30px;
    top: 120px;
    font-size: 45px;
}

.intrologo .logoeng{
    position: relative;
    left: 30px;
    top: 100px;
    font-size: 20px;
}
 
.intrologo .logoicon{
    position: relative; 
    right: -195px; 
    top: -30px; 
}


.text-box{
    position: absolute;
    left: 50%;
    top: 160%;
    transform: translate(-50%, -50%);
    padding: 1px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

.text-box .subtitle{
    border-style: solid;
    width: 10%;
    text-align: center;
}

.withcslogo{
    position: relative;
    top: -500px;
    width: 80px;
}

.withcslogo2{
    position: relative;
    top: -570px;
    width: 30px;
    left: 700px;
}

hr {
    position: relative;
    top: -65px;
}

h4 {
    position: relative;
    top: 39px;
    font-size: 20px;
    left: -35px;
}


