body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    height: 100vh;
}

@font-face {
    font-family: parisNineteenSeventy;
    src: url(fonts/Chalet-ParisNineteenSeventy_10022.ttf);
}

.lscreen {
    display: grid;
    height: 100%;
    position: absolute;
    top: 0px;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.clublogo{
    position: relative;
    bottom: -50px;
    left: -120px;
}

.clubtext{
    position: relative;
    top:-22px;
    left: -50px;
}

.logo{
    letter-spacing: 5px;
    font-size: 25px;
    color: black;
    font-family: parisNineteenSeventy;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-family: parisNineteenSeventy;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 130%;
    position: relative;
    left: -100px;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 3px;
}

.nav-links a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #000000;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links a:hover::after{
    width: 100%;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.phone-image {
    display: none;
}

@media (max-width: 800px) {

    .phone-image {
        display: flex;
        position: relative;
        top:0px;
        background-position: fixed;
        background: url(pictures/phone\ background.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .lscreen {
        display: none;
    }

    .clublogo{
        position: relative;
        left: 30px;
        top: 10px;
    }
    
    .clubtext{
        position: relative;
        left: 90px;
        top: -60px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        display: flex;
        position: relative;
        color: black;
        font-family: parisNineteenSeventy;
        top: -1195px;
        background-color: white;
    }

    .toggle-button {
        display: flex;
    }

    .nav-links a:hover::after{
        width: 0%;
    }

    .navbar-links {
        display: none;
        width: 100%;
        position: relative;
        left: 125px;
        top: -30px;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}